doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    a(href='/').brand-name HeThreads
    nav 
      span.nav-bar
        a(href= '/shirts') Shirts
        a(href= '/jeans') Jeans
        a(href= '/trousers') Trousers
        a(href= '/t-shirts') TShirts
        a(href= '/sweatshirts') Sweatshirts 
        a(href= '/shoes') Shoes
        a(href= '/add') Add items
    
    script.
        function selectSize(selectedSize) {
            const buttons = document.querySelectorAll('.size-button');
            buttons.forEach(button => {
                if (button.textContent === selectedSize) {
                    button.classList.add('selected');
                } else {
                    button.classList.remove('selected');
                }
            });
        }