extends layout 

block content
    form(method='POST' action='').delete-form
        label= `Do you really want to delete ${shoe.name}?`
        div.form-group
            input#id.form-control(type='hidden',name='id', required='true', value=shoe._id )
        button.btn.btn-primary(type='submit') Delete