extends layout 

block content
    div.container 
        each val in shoes
            a(href= val.url) 
                span.card 
                    div.img-container
                        img(src= val.imageURL, loading="lazy").item-img
                    p.name #{val.name}
                    p.price= val.price