@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://db.onlinewebfonts.com/c/70f3e46b3bb904260d1b1a6e0f2edf08?family=HM+Sans+Regular');

:root {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'HM Sans Regular', 'Roboto', sans-serif;
  display: grid;
}

@font-face {
  font-family: 'my-font';
  src: url('../fonts/Cylburn.ttf');
}

a {
  color: black;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  gap: 4px;
  margin: 20px;
  margin-top: 185px;
}

.index-container {
  display: grid;
  justify-items: center;
  margin-top: 30px;
  background-color: black;
  width: max-content;
  justify-self: center;
  padding: 20px 160px;
}

.index-buttons {
  display: flex;
  gap: 10px;
}

.index-buttons > form > input {
  border-radius: 0%;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: max-content;
  height: max-content;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.index-title1 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.8px;
  color: white;
}

.index-title2 {
  font-size: 12px;
  padding-bottom: 15px;
  color: white;
}

.index-header {
  margin-top: 185px;
  display: flex;
  justify-content: center;
  gap: 115px;
}

.index-header > span {
  font-size: 13px;
}

.card {
  display: grid;
  padding-bottom: 23px;
}

.name,
.price {
  font-size: 13px;
}

p {
  margin: 0;
}

p.description {
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.item-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-bottom: 10px;
}

.brand-name {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'my-font';
  font-size: 60px;
  font-weight: 600;
}

nav {
  position: absolute;
  top: 85px;
  left: 0;
  height: 80px;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar {
  display: flex;
  gap: 30px;
}

.nav-bar > a:hover {
  border-bottom: 1px solid black;
}

.detail-container {
  margin: 50px;
  margin-top: 185px;
}

.detail-card {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 30px;
  width: 1230px;
}

.detail-item-img {
  width: 600px;
  height: auto;
  overflow: hidden;
}

.detail-name {
  font-size: 17px;
  font-weight: 550;
  line-height: 35px;
  display: flex;
  align-items: center;
}

.detail-price {
  font-size: 21px;
}

.detail-tax {
  color: gray;
  font-size: 13px;
}

.size-selector {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  padding: 20px 0;
}

.size-button {
  padding: 12px 32px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.size-button.selected {
  background-color: #000000;
  color: #ffff;
}

.detail-info {
  display: grid;
  grid-auto-rows: max-content;
}

.add-to-bag {
  background-color: black;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 24px;
  width: 100%;
  cursor: pointer;
  margin: 15px 0;
}

.add-to-bag:hover {
  box-shadow: 0 0 2px black;
}

.add-to-bag:active {
  background-color: white;
  color: black;
}

.product-description-fit-title {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 0;
}

.product-fit {
  padding-top: 30px;
}

.fit {
  font-size: 13px;
  line-height: 25px;
}

.add-form,
.delete-form {
  display: grid;
  justify-content: center;
  margin-top: 185px;
}

label {
  display: block;
}

.errors {
  display: grid;
  justify-items: center;
}

.errors > li {
  list-style-type: none;
}

.edit-img {
  padding-right: 5px;
}

.edit-link {
  margin-left: auto;
}

.delete-img,
.edit-img {
  cursor: pointer;
  height: 18px;
  width: auto;
}

.edit-link,
.delete-link {
  display: flex;
}

.delete-container {
  margin-top: 185px;
}
